html,body{ 
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
ul li{
	padding-right: 10px;
	padding-left: 10px;
}

.nav-logo{
	width: 75px;
	height: 75px;

}
.background-image1{
	width: 100%;
  height: 600px;
  background-image: url('https://store.playstation.com/store/api/chihiro/00_09_000/container/BE/nl/99/EP2402-CUSA05624_00-AV00000000000233/0/image?_version=00_09_000&platform=chihiro&bg_color=000000&opacity=100&w=720&h=720'),url('https://color-hex.org/colors/caf0f8.png') ;
  background-repeat: no-repeat,no-repeat;
  background-size: contain,cover;
  background-position: center;
  border-radius: 15px 50px;

  opacity: 0.9,1;
}

.padding-remove{
	padding: 0 !important;
}